// ==========================================================================
// Config
// ========================================================================== 

// Width of the overall site as well as the left and right content columns
$width-site:    1000px;
$width-left:    650px;
$width-right:   350px;

// Breakpoints
$break-small:   480px;
$break-medium:  620px;
$break-large:   800px;

// A standard margin
$spacer:        30px;

// A modest palette; see `_library.scss` for the color() function
$_color: (
  text: #333,
  link: steelblue,
  link-muted: steelblue,
  body-background: white
);

// Metadata; use metadata() to access
$_metadata: (
  theme-name:               "Grizzled"
, theme-uri:                "https://github.com/carmen-tang/wp-grizzly"
, theme-author:             "Carmen Tang"
, theme-author-uri:         "http://carmentang.net"
, theme-description:        "Grilly WP Site"
, theme-version:            "1.0"
, theme-license:            "GPLv3"
, theme-license-uri:        "http://www.gnu.org/licenses/gpl.txt"
, theme-tags:               (light, responsive-layout, right-sidebar, starter-theme, two-columns, translation-ready, white)
, theme-text-domain:        "voidx"
, theme-text-domain-path:   "/languages/"
);
