// ==========================================================================
// Single Post 
// ========================================================================== 

.blog-wrap {
	padding: 3em;

	@media (max-width: 768px) {
		margin-bottom: 12em;
	}

	@media (max-width: 480px) {
		padding: 1em 3em; 
	}
}